h1 {
    color:yellow;
}
h2 {
    background-color: yellowgreen;
}
a {
    color:green;
}
.buscador {
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#epigrafe1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: navy;
    color:white}

div > h2 {font-size: smaller;
        margin:120px 60px 30px 15px;
}